# Versi PHP
PHP_VERSION=8.2

# Versi Golang
GO_VERSION=1.21

# Versi MySQL
MYSQL_VERSION=8.0

# Versi MongoDB
MONGO_VERSION=6.0

# Versi Redis
REDIS_VERSION=7.0

MYSQL_ROOT_PASSWORD=
MYSQL_NAME_DB=
MYSQL_USER=
MYSQL_PASS=